<header>
    <h1>Burger Test</h1>
</header>
<div class="container">
    <div class="flex-container">
        <section class="avail-burgers">
            <h2>This should list all available burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>{{this.burger_name}}
                    <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                        {{#if devoured}}Regurgitate{{else}}Devour{{/if}}
                    </button>
                    <button class="delete" data-id="{{id}}">Delete</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </section>

        <section class="devoured-burgers">
            <h2>This should list all devoured burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{this.burger_name}}
                    <button class="regurgitate" data-id="{{id}}" data-devoured="{{devoured}}">
                        {{#if devoured}}Regurgitate{{else}}Devour{{/if}}
                    </button>
                    <button class="delete" data-id="{{id}}">Delete</button></li>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </div>

    <div class="forms">
        <form class="create-form">
            <h2>Add a Burger</h2>
            <div class="form-group">
                <label for="burger-name">Burger Name:</label>
                <input type="text" id="burger-name">
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </div>

</div>