<header>
    <h1><strong>Bob's Burgers Burger Eater</strong></h1>
</header>
<div class="container">
    <div class="flex-container">
        <section class="avail-burgers">
            <h2>Daily Specials</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <h4>
                        {{burger_name}}
                        <i class="fa fa-minus-square delete" data-id="{{id}}" aria-hidden="true"></i>
                        <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                            {{#if devoured}}Regurgitate{{else}}Devour{{/if}}
                        </button>
                    </h4>
                    <p class="ingredients"><em>- {{burger_deets}}</em></p>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </section>

        <section class="devoured-burgers">
            <h2>Tally Burgers Devoured</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{!-- <h4><button class="delete" data-id="{{id}}">X</button> --}}
                    <h4>
                        {{burger_name}}
                        <i class="fa fa-minus-square delete" data-id="{{id}}" aria-hidden="true"></i>
                        <button class="regurgitate" data-id="{{id}}" data-devoured="{{devoured}}">
                            {{#if devoured}}Regurgitate{{else}}Devour{{/if}}
                        </button>
                    </h4>
                    <p class="ingredients"><em>- {{burger_deets}}</em></p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </div>

    <div class="forms">
        <form class="create-form">
            <h2>Add a Burger to Specials</h2>
            <div class="form-group">
                <div class="input-line">
                    <label for="burger-name">Burger Name:</label>
                    <input type="text" id="burger-name"></div>
                <div class="input-line">
                    <lavel for="burger-deets">Details:</lavel>
                    <input type="text" id="burger-deets">
                </div>
            </div>

            <button class="addBurger" type="submit">Add Burger</button>
        </form>
    </div>

</div>